// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

*{
    font-family: 'Manrope', sans-serif;
}

a:hover {
    text-decoration: none;
}

.user p {
    margin-bottom: 5px;

}

.app-image {
    overflow: hidden;
    border-radius: 20px;
    margin: 10px 0px;
    padding: 0px;
}

.border-sponsorship {
    border: 4px solid #E6D223;
    width: 100%;
    height: 50%;
    padding: 0px;
}

.navbar-brand img{
    width: 50px;
}


.tutti {
    background-color: #EB594E;
    color: white;
    border-radius: 25px;
    padding: 8px;
    font-size: 15px;
    text-decoration: none;
}

.homebottom {
    background-color: #EB594E;
    color: white;
    border-radius: 21px;
    padding: 8px;
    font-size: 16px;
    text-decoration: none;
    transition: all .5s;
}

.homebottom:hover{
    text-decoration: none;
    background-color: #d8766f;
    color: #000000;
}

.navbar-light .navbar-brand{
    color:white;
}

.error-msg {
    color: red;
}

.dashboard ul {
    padding: 0;
    list-style: none;
}

.dashboard .divtitolo{
    width: 100%;
}

.dashboard .titolo{
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.dashboard button {
    padding: 10px 15px;
}

.user {
    border: 2px solid #DEE2E6;
    border-radius: 10px;
    max-height: 355px;
    box-shadow: 0px 0px 6px 2px #2A2A2A;
}

.user-image {
    text-align: center;
}

.profile img {
    max-width: 70%;
    border-radius: 50%;
    margin-bottom: 10px;
}

.dashboard .app img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform: scale(1.0);
    transition: transform .4s;
}
.dashboard .app img:hover {
    transform: scale(1.2);
}

.dashboard .col-9 {
    display: flex;
    flex-wrap: wrap
}

// EDIT, VIEW, SPONSOR BUTTON

.btn {
    font-size: 18px;
    border: none;
    color: #FFFFFF;
    border-radius: 10px;

    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
}

.view-button, .edit-button {
    width: 45%;
}

.view-button:hover, .edit-button:hover {
    width: 50%;
    color: #000000;
}

.view-button {
    background-color: #EB594E;
}

.edit-button {
    background-color: #00719E;
}

.sponsor-button {
    background-color: #0A7C00;
    width: 95%;
}

.sponsor-button:hover {
    font-size: 24px;
    width: 100%;
    background-color: #0EA500;
}

// EDIT, VIEW, SPONSOR BUTTON

/*
  Popup Search Bar
*/

.custom-modal {
    padding: 1rem;
    position: fixed;
    inset: 0;
    z-index: 99999;
    display: flex;
    align-items: center;
    opacity: 1;
    transition: all 0.2s;
    visibility: visible;
  }

  .custom-modal.hidden{
    opacity: 0;
    visibility: hidden;
    display: flex!important;
  }

  .custom-modal.hidden .search-modal{
    margin-top: 100px;
  }


  .custom-modal .backdrop {
    position: absolute;
    inset: 0;
    background-color: #000000;
    opacity: 0.4;
  }

  .custom-modal .search-modal {
    transition: all 0.4s;
    position: relative;;
    width: 100%;
    max-width: 500px;
    margin: 0px auto;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 10px;
  }
